*{
   margin: 0;
   padding: 0;
}

.accessbg{
   display: flex;
   align-items: center;
   position: absolute;
   background: red;
   width: 100%;
   height:100vh;
}
.accessmenu{
   width: 30%;
   height: auto;
   margin: 0 auto;
   background: white;
   border: 1px solid black;
   border-radius: 10px;
   padding: 20px;
}