#atlas__page{
   border-radius: 20px;
   border: 1px inset rgb(0, 81, 255);;
   box-shadow: 5px 5px 20px black;
}
#atlas__title{
   width: 90%;
   height: 70px;
   font-size: 45px;
   border-bottom: 1px solid rgb(0, 81, 255);
   margin-top: 20px;
   color: rgb(0, 81, 255);
   float: left;
   display: flex;
   align-items: center;
}

.navpanel__title{
   width: auto;
   height: 45px;
   margin-top: 30px;
   font-size: 35px;
   border-bottom: 1px solid rgb(0, 81, 255);
   text-align: center;
   color: rgb(0, 81, 255);
}
.navpanel{
   margin-top: 20px;
   width: 90%;
   color: rgb(0, 81, 255);
   height: auto;}
.navpanel ul{
   width: 30%;
   list-style: none;
   margin-top: 10px;
   margin-right: 3.33333%;
   float: left;
   height: auto;
}
.navpanel ul span{
   font-weight: 600;
   font-size: 25px;

}
.navpanel ul li{
   font-size: 15px;
   margin-left: 5%;
   margin-top: 5px;
   width: 95%;
}
