*{
   margin: 0;
   padding: 0;}
a{color: black;text-decoration: none;}
#Important{
   color: red;
   font-weight: 900;}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
   font-family: 'Ubuntu', sans-serif;
   background-image: url(../img/bg.jpg);
   background-size: 100% 100%;}
.wrapper{
   width: 80%;
   margin: 0 auto;
   min-height: 600px;}

/* Шапка */
.header{
   background-image: url(../img/header.png);
   background-size: 100% 100%;
   height: 160px;
   width: 100%;
   border-radius: 0 0 30px 30px;
   box-shadow: 0px 4px 5px  #06006A;}
.header__menu{
   width: 50%;
   height: 40px;
   float: left;
   margin-top: 120px}
.header__menu ul{
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;}
.header__menu ul li a{
   color: white;}
.header__menu ul li{
   width: 10%;
   font-weight: 600;
   color: white;
   margin-left: 2%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.2s;}
.header__menu ul li:hover{
   border-bottom: 1px solid rgb(0, 81, 255);
   transition: 0.2s;}
/* Шапка для смартфонов */
.mobailmenu{
   display: none;
   height: 30px;
   background: white;}
.mobailmenu__logo{
   width: 50%;
   height: 100%;
   float: left;
   background: lightcoral;}
.mobailmenu__menu{
   width: 50%;
   height: 100%;
   float: left;}
.mobmenu{
   display: none;
   position: fixed;
   z-index: 3;
   width: 100%;
   height: 100%;
   background: rgba(0, 81, 255, 0.842);}
.mobmenu__close{
   width: 10%;
   height: 5%;
   display: flex;
   justify-content: center;
   align-self: center;
   color: white;
   font-weight: 800;
   margin-right: 5%;
   margin-top: 2%;
   float: right;}
.mobmenu ul{
   width: 100%;
   height: 50%;
   float: left;
   margin-top: 2%;}
.mobmenu ul li{
   width: 100%;
   height: 14%;
   margin-top: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 18px;
   background: rgb(55,119,255);
   background: radial-gradient(circle, rgba(55,119,255,0.9) 11%, rgba(0,81,255,0.1) 45%, rgba(1,0,255,0.5) 100%);}
/* Контант бар */
.contant{
   width: 70%;
   margin-top: 30px;
   height: auto;
   display: flex;
   min-height: 700px;
   flex-direction: column;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0);
   align-items: center;}
/* Статьи */
.state{
   width: 100%;
   padding: 20px 0 30px 0;
   border-radius: 10px;
   background: #05006abd;
   margin-top: 20px;
   float: left;
   border-bottom: 1px solid #0a00d1;
   height: auto;}
.state__title{
   background: rgb(251,251,251);
   background: linear-gradient(90deg, rgba(251,251,251,0) 0%, rgba(242,242,242,0.4023984593837535) 2%, rgba(242,242,242,1) 10%, rgba(242,242,242,1) 90%, rgba(242,242,242,0.4023984593837535) 98%, rgba(255,255,255,0) 100%);
   width: 100%;
   height: 30px;
   float: left;}
.state__title:hover{
   background: rgb(255,255,255);
   background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(224,237,247,0.7) 2%, rgba(224,237,247,1) 10%, rgba(224,237,247,1) 90%, rgba(240,246,251,0.7) 98%, rgba(255,255,255,0) 100%);}
.title__name{
   width: 50%;
   height: 100%;
   text-align: left;
   line-height: 30px;
   text-indent: 35px;
   color: #8E140E;
   font-weight: 600;
   float: left;}
.title__date{
   width: 40%;
   float: left;
   font-size: 15px;
   font-weight: 500;
   color: rgb(175, 175, 175);
   height: 100%;
   text-align: right;
   line-height: 30px;}
.state__box{
   width: 100%;}
.state__img{
   width: 20%;
   float: left;
   margin-left: 2%;
   margin-top: 20px;
   transition: 0.2s;
   box-shadow: 2px 2px 4px silver;
   border-top: 1px solid rgb(233, 233, 233);
   border-left: 1px solid rgb(233, 233, 233);}
.state__img:hover{
   width: 20.2%;
   margin-left: 1.8%;
   margin-top: 18px;
   transition: 0.2s;
   box-shadow: 4px 4px 4px silver;}
.state__text{
   width: 75%;
   background: white;
   min-height: 122px;
   margin-left: 2%;
   margin-top: 20px;
   transition: 0.2s;
   box-shadow: 2px 2px 4px silver;
   border-top: 1px solid rgb(233, 233, 233);
   border-left: 1px solid rgb(233, 233, 233);
   float: left;}
.state__text:hover{
   width: 75.2%;
   margin-left: 1.8%;
   margin-top: 18px;
   min-height: 122px;
   transition: 0.2s;
   box-shadow: 4px 4px 4px silver;}
.state__text p{
   width: 90%;
   height: auto;
   font-size: 15px;
   margin-left: 2%;
   margin-top: 9px;}
.state__showmore{
   color: grey;
   float: right;
   margin-top: 30px;
   margin-right: 20px;}
.state__showmore:hover{
   color: #8E140E;}
/* Мобильная адаптация */
@media screen and (max-width: 1024px){
   body{
      background-size: 100% 500px;}
   .wrapper{
      width: 100%;}
   .header{
      display: none;}
   .mobailmenu{
      display: block;}
   .menu{
      display: none;}
   .contant{
      width: 100%;}
   .state{
      border-radius: 0;}
   .contant__img{
      width: 95%;}
   .contant__text{
      width: 95%;}
}
@media screen and (max-width: 350px){
   .title__name{
      font-size: 12px;
   }
   .title__date{
      font-size: 10px;
   }
   
   .contant__text p{
      width: 100%;
      font-size: 13px;
   }
}
@media screen and (min-width: 350px) and (max-width: 400px){
   .header{
      height: 40px;
   }
   .title__name{
      font-size: 14px;
   }
   .title__date{
      font-size: 12px;
   }
   .contant__text p{
      width: 100%;
      font-size: 15px;
   }
}